@{
    ViewData["Title"] = "Catalogue";
}

   <div class="cardJM">
        <h2>Categories</h2>
       <p>Descripcion categories </p>
       <img src="Img/lib1.jpg" alt="">
       <span>titulo <p>Descripcion libro</p></span>
        <div class="miniCard"> 
           <img src="Img/lib1.jpg" alt="">
           <img src="Img/lib1.jpg" alt="">
           <img src="Img/lib1.jpg" alt="">

          </div>
    </div><!-- /cardJM-->
